{% extends "base.html" %}
{% load static %}

{% block title %}Final| Login{% endblock %}
{% block style %}{% static "css/login.css" %}{% endblock %}

{% block content %}
<div class="container">
    <h2>Login</h2>

    <form method="POST">
        {% csrf_token %}
        
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        
        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="{% url 'register' %}">Create account</a></p> 
    <footer>&copy; Ka-peeryu - LSPU-SPCC 2026</footer>
</div>

{% endblock %}